{erl_opts, [
    debug_info
]}.

{deps, []}.

{profiles, [
    {test, [
        {deps, [
            {elli, "3.1.0"}
        ]}
    ]},
    {docs, [
        {deps, [
            {edown, {git, "https://github.com/uwiger/edown.git", {tag, "0.8.1"}}}
        ]},
        {edoc_opts, [
            {doclet, edown_doclet},
            {packages, false},
            {subpackages, true}
        ]}
    ]}
]}.

{ct_readable, false}.

{plugins, [rebar3_hex]}.
